.collection {
    padding-top: 266px;
    
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__container{
        &::before {
            content: "Our collection";
            max-width: 1111px;
            width: 100%;
            height: 196px;
            position: absolute;
            top: 220px;
            z-index: -1;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 150px;
            line-height: 72px;
            text-align: center;
            color: #83888F;
    }
}



    &__list {
        padding-left: 100px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-irem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 255px;
        width: 100%;
        
    }

    &__item-img-wrap {
        margin-bottom: 68px;
    }

    &__item-heading {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 24px;
        text-align: center;
    }

    &__item-txt {
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}

@media only screen and (max-width: 1000px) {
    .collection {
        padding: 0;
        margin: 0;
        padding-top: 266px;
        position: relative;
        
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        &__container::before {
            content: "Our collection";
            max-width: 1110px;
            width: 100%;
            height: 196px;
            position: absolute;
            top: 200px;
            z-index: -1;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 120px;
            line-height: 60px;
            text-align: center;
            color: #83888F;
        }
    
        &__inner-wrap {
            background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
        }
    
        &__list {
            padding: 0;
            padding-left: 100px;
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding-right: 97px;
            padding-right: 98px;
        }
    



        &__list-irem {
            margin-bottom: 48px;
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 550px;
            width: 100%;
        }
    
    }
    
}

@media only screen and (max-width: 780px) {
    .collection {
        padding-top: 266px;
        position: relative;
        
        &__container {
            max-width: 700px; 
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &__container::before {
            content: "Our collection";
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 96px;
            line-height: 72px;
            text-align: center;
            color: #83888F;
            max-width: 1000px;
        }

    
        &__list {
            margin: 0;
            padding: 0;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            padding-right: 97px;
            padding-right: 98px;
        }
    

        &__item-wrap {            
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 282px;
        }

        &__list-irem {
            margin-bottom: 48px;
            display: flex;
            align-items: center;
            flex-direction: row;
            max-width: 535px;
            height: 195px;
        }
    
        &__item-img-wrap {
            max-width: 255px;
            width: 100%;
            height: 193px;
        }
    
        &__item-heading {
            max-width: 255px;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
 
        }
    
        &__item-txt {
            max-width: 255px;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .collection {
        padding: 0;
        padding-top: 266px;
        position: relative;
        
        &__container {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &__container::before {
            content: "Our collection";
            font-family: 'Fraunces';
            background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #83888F;
            max-width: 500px;
            width: 100%;
            height: 118px;
            position: absolute;
            top: 200px;
            
 
        }
    
        &__inner-wrap {
            background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__heading {
        }
    
        &__list {
            padding: 0;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    

        &__item-wrap {     
            margin: 0;
            padding: 0;       
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 300px;
        }

        &__list-irem {
            margin-bottom: 48px;
            display: flex;
            flex-direction: column;
            max-width: 300px;
            width: 100%;
            height: auto;
        }
    
        &__item-img-wrap {
            margin: 0;
            margin-bottom: 25px;
            max-width: 255px;
            height: 193px;
        }
    
        &__item-heading {
            min-width: 255px;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
 
        }
    
        &__item-txt {
            min-width: 282px;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
        }
    }
    
}


    




