.header {
    background-color: #ffffff;
    z-index: 9999;
    
    &__inner-wrap {
        padding: 43px 0 ;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo-wrap {
        max-width: 235px;
        display: flex;
        align-items: center;
        transition: all 0.4s ease;
        
        &:hover {
            opacity: 0.8;
        }
        
        &:active {
            opacity: 0.6;
        }
    }
    
    &__nav-list {
        width: 285px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__nav-link {
        font-family: 'Barlow';
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        transition: all 0.4s ease;

        &:hover {
            opacity: 0.8;
        }
        
        &:active {
            opacity: 0.6;
            
        }
    }
    &__btn {
        
        border: none;
        outline: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; 
        display: none;
    }
    
    
    &__btn-cross &__btn-burger {
        display: none;
    }
}

@media only screen and (max-width: 650px) { 
    body {
        padding-top: 70px;
    }
    .header {
        position: relative;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;

        
        &__inner-wrap {
            padding: 23px 0;
            
            align-items: center;
        }

        
        &__nav-bar {
            display: flex;
            transform: translateX(-100%);
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            height: calc(100vh - 100%);
            background: linear-gradient(360deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);    
            transition: all 0.5s ease;
        }
        
        &__logo-link {
            margin: 0;
            max-width: 163px;
            width: 100%;
            height: 18px;
        }

        &__logo-img {
            max-width: 163px;
            height: 18px;
        }
        
        &__nav-list {
            width: 285px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 32px;
        }
        
        &__nav-link {
            font-family: 'Fraunces';
            text-transform: capitalize;
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #333D4B;
            
            
        }
        
        &__btn {
            display: inline-block;
        }
        
        &__btn-burger {
            display: flex;
            transition: all 0.3s ease;
            
            &:hover {
                transform: scale(1.2);
                opacity: 0.8;
            }
            &:active{
                transform: scale(0.8);
                opacity: 0.6;
            }
        }
        
        &__btn-cross {
            display: none;
        }
        &__inner-wrap--active {
            

            .header__nav-bar { 
                display: flex;
                transform: translateX(0);
                transition: all 0.4s ease;
            }

            .header__btn-cross {
                display: inline-block;

                &:hover {
                    transform: scale(1.2);
                    opacity: 0.8;
                }
                &:active{
                    transform: scale(0.8);
                    opacity: 0.6;
                }
            }

            .header__btn-burger {
                display: none;
            }
        }
        
    }
    
}